<?xml version='1.0' encoding='utf-8'?>
<widget id="com.dbnav" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>鵬程灣里</name>
    <description>
       大鵬灣地區相關景點介紹導覽App
    </description>
    <author email="motea927@yahoo.com.tw" href="https://codepen.io/motea927/">
        李學澤Mt(motea927)
    </author>
    <content src="index.html" />
    <access origin="https://1031241139.000webhostapp.com/*" />
    <access origin="http://*.google.com" />
    <allow-navigation href="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    <preference name="Fullscreen" value="false" />
    <preference name="DisallowOverscroll" value="true" />
    <plugin name="cordova-plugin-whitelist" spec="^1.3.3" />
    <plugin name="cordova-plugin-device-orientation" spec="^1.0.7" />
    <plugin name="cordova-plugin-geolocation" spec="^3.0.0" />
    <plugin name="cordova-plugin-nativestorage" spec="^2.2.2" />
    <plugin name="cordova-plugin-ezar-videooverlay" spec="^1.0.0" />
    <plugin name="cordova-plugin-camera-preview" spec="git+https://github.com/cordova-plugin-camera-preview/cordova-plugin-camera-preview.git" />
    <engine name="android" spec="^6.3.0" />
</widget>
